# Database Configuration
DATABASE_URL=postgresql://final_user:final_pass@db:5432/final_assignment_db

# Minio Configuration
MINIO_ENDPOINT=storage:9000
MINIO_ACCESS_KEY=minio_admin
MINIO_SECRET_KEY=minio_password_123
MINIO_BUCKET_NAME=eeg-data-bucket
MINIO_SECURE=False