fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
alembic
minio
numpy
pandas
scipy
mne
mne-icalabel
mne-connectivity
antropy
PyWavelets
joblib
python-multipart
python-dotenv